/* body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
   
} */
/* Hero Section */
.back {
    background-color: #eef9ff;
    height: 40vh;
 
  }
  .overlay {
    text-align: center;
    text-transform: uppercase;
    padding-top: 100px;
  }
  
  .overlay h3 {
    margin: 0 0 0.5em 0;
    font-weight: 700;
    font-size: 55px;
    line-height: 60px;
    font-family: "Dosis", arial, sans-serif;
    color: #081f46;
    position: relative;
  }
  .text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-family: "Nunito", arial, sans-serif;
  }
  
  .text .btn {
    text-decoration: none;
    background-color: #37a2ff;
    padding: 5px 25px;
    border-radius: 20px;
    color: #ffffff;
    white-space: nowrap;
    margin-right: 0.4rem;
  }
  
  .text h5 {
    text-align: center;
    color: #081f46;
    font-size: 13px;
    font-weight: 600;
    line-height: 1em;
    letter-spacing: 0.5px;
    text-transform: uppercase;
  } 
  #header-wave {
    background-color: #eef9ff;
  } /* banner end */
/* main */

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width:900px;
    margin: 0 auto;
}

.card {
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
   
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.content {
    padding: 15px;
}

h3 {
    font-size: 18px;
    margin: 0 0 10px;
}

.category {
    color: #888;
    font-size: 14px;
    margin-bottom: 10px;
    font-family: "Dosis, arial, sans-serif";
}

p {
    font-size: 14px;
    color: #555;
    line-height: 1.6;
    margin-bottom: 10px;
    font-family: "Nunito, arial, sans-serif";
}

.footer {
    font-size: 12px;
    color: #aaa;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.read-more {
    text-decoration: none;
    font-size: 14px;
    color: #3498db;
    font-weight: bold;
}

.card:hover {
    transform: translateY(-20px);
}
