@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

body {
  margin: 0;
  font-family: "Nunito";
}

.navbar {
  color: black;
  background: #eef9ff;
}
a {
  color: #fff;
}

.main-icon {
  color: #379eff !important;
}
.navbar-nav {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-left: 65px;
  font-family: Nunito Fonts;
}

.navbar-nav .nav-item {
  text-align: center;
  margin-right: 23px;
}
.navbar-nav .nav-link {
  color: black !important;
  font-size: 17px;
}
.navbar-nav .nav-link:hover {
  color: #379eff !important;
}

.navbar-toggler-icon {
  background-color: #fff !important;
}
.icon {
  margin-left: 70px;
  margin-right: 50px;
  font-size: 30px;
  font-family: Dosis;
  font-weight: bold;
}

.icon i {
  font-size: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.locate {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 25px;
  font-family: Nunito Fonts;
  display: flex;
}
.locate i {
  font-size: 20px;
  color: #379eff !important;
}

.phone-icon {
  margin-left: 50px;
}

/* Media Queries */
@media (max-width: 991px) and (min-width: 768px) {
  .navbar h3 {
    font-size: 24px !important;
    text-align: center;
    width: 100%;
  }

  .navbar-collapse {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .navbar-nav {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
  }

  .navbar-nav .nav-item {
    margin-bottom: 10px;
  }

  .locate {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    margin-right: 55px;
  }

  .navbar-toggler {
    margin-left: auto;
  }
}

@media (max-width: 767px) and (min-width: 576px) {
  .navbar-nav {
    flex-direction: column;
    align-items: center;
  }

  .locate {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
@media (min-width: 375px) and(max-width:400px) {
  .locate {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

@media (min-width: 400px) and(max-width:425px) {
  .locate {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: -50px;
  }
}
@media (max-width: 575px) {
  .navbar-nav {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .navbar-collapse {
    text-align: center;
  }

  .locate {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: -30px;
  }
  .navbar h3 {
    font-size: 18px !important;
  }

  .main-icon {
    font-size: 18px !important;
  }
}

@media (min-width: 992px) and (max-width: 1024px) {
  .navbar {
    background: #001442;
    color: #fff;
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .navbar h3 {
    font-size: 22px !important;
    text-align: center;
  }

  .navbar i {
    font-size: 17px !important;
    margin-left: -55px;
  }
  .collapse a {
    font-size: 13px !important;
    margin-right: -15px !important;
    margin-top: 10px;
  }

  .navbar-collapse {
    display: flex;
    align-items: center;
    text-align: center;
  }

  .navbar-nav {
    align-items: center;
    width: 100%;
    margin: 0;
  }

  .navbar-nav .nav-item {
    margin-bottom: 10px;
  }

  .locate {
    font-size: 12px !important;
    flex-direction: row;
    width: 100%;
    align-items: center;
    text-align: center;
    margin-left: 65px;
  }
  .phone-icon {
    margin-left: 75px;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .navbar h3 {
    font-size: 21px !important;
    text-align: center;
  }
  .navbar i {
    font-size: 17px !important;
    margin-left: -15px;
  }
}
