@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.back {
    background-color: #eef9ff;
    height: 40vh;
  }
  .overlay {
    text-align: center;
    text-transform: uppercase;
    padding-top: 100px;
  }
  
  .overlay h3 {
    margin: 0 0 0.5em 0;
    font-weight: 700;
    font-size: 55px;
    line-height: 60px;
    font-family: "Dosis", arial, sans-serif;
    color: #081f46;
    position: relative;
    
  }
  .text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-family: "Nunito", arial, sans-serif;
  }
  
  .text .btn {
    text-decoration: none;
    background-color: #37a2ff;
    padding: 5px 25px;
    border-radius: 20px;
    color: #ffffff;
    white-space: nowrap;
    margin-right: 0.4rem;
  }
  
  .text h5 {
    text-align: center;
    color: #081f46;
    font-size: 13px;
    font-weight: 600;
    line-height: 1em;
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }
  
  #header-wave {
    background-color: #eef9ff;
  }


body {
    font-family: "Dosis",sans-serif;
    background-color: #f8f9fa;
}

.team-section {
    background-color: #ffffff;
    padding: 60px 0;
}

.section-title {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.highlight {
    color: #007bff;
}

.section-subtitle {
    font-size: 16px;
    color: #777;
    margin-bottom: 40px;
}

.team-member {
    margin-bottom: 30px;
}

.team-member img {
    width: 150px;
    height: 150px;
    margin-bottom: 15px;
    transition: all 0.3s ease-in-out;
}

.team-member h5 {
    font-size: 18px;
    margin-bottom: 5px;
    color: #333;
}

.team-member p {
    font-size: 14px;
    color: #777;
}

.social-icons a {
    color: #777;
    margin: 0 5px;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
}

.social-icons a:hover {
    color: #007bff;
}
