body {
    font-family: "Nunito";
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}
/* Hero Section */
.back {
    background-color: #eef9ff;
    height: 40vh;
 
  }
  .overlay {
    text-align: center;
    text-transform: uppercase;
    padding-top: 100px;
  }
  
  .overlay h3 {
    margin: 0 0 0.5em 0;
    font-weight: 700;
    font-size: 55px;
    line-height: 60px;
    font-family: "Dosis", arial, sans-serif;
    color: #081f46;
    position: relative;
  }
  .text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-family: "Nunito", arial, sans-serif;
  }
  
  .text .btn {
    text-decoration: none;
    background-color: #37a2ff;
    padding: 5px 25px;
    border-radius: 20px;
    color: #ffffff;
    white-space: nowrap;
    margin-right: 0.4rem;
  }
  
  .text h5 {
    text-align: center;
    color: #081f46;
    font-size: 13px;
    font-weight: 600;
    line-height: 1em;
    letter-spacing: 0.5px;
    text-transform: uppercase;
  } 
  #header-wave {
    background-color: #eef9ff;
  } /* banner end */
  

.testimonials {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Display 2 cards per row */
    gap: 20px;
    padding: 50px 30px; /* Add padding on left and right */
    max-width: 900px; /* Set a max-width to create space on left and right */
    margin: 0 auto; /* Center the grid */
}

.testimonial {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.profile-pic {
    width: 250px;
    height: 220px;
    border-radius: 50%;
    margin-bottom: 15px;
    object-fit: cover;
}

h3 {
    margin: 0;
    font-size: 1.5rem;
    color: #333;
}

.job-title {
    font-size: 1rem;
    color: #777;
    margin-bottom: 15px;
}

.quote {
    font-size: 0.95rem;
    color: #555;
    margin-bottom: 10px;
    line-height: 1.6;
    text-align: justify;
}

.quote-icon {
    font-size: 2rem;
    color: #007bff;
}

@media (max-width: 768px) {
    .testimonials {
        grid-template-columns: 1fr; /* Display 1 card per row on smaller screens */
        padding: 20px; /* Adjust padding for smaller screens */
    }

    .testimonial {
        margin-bottom: 20px;
    }
}
